
.sidelinje {

}

.portal-guestbook-actions a {
	background-repeat: no-repeat;
	background-position: 4px 0px;
	padding-left: 24px;
}

.portal-guestbook-email {
	background-image: url(../images/email.png);
}

.portal-guestbook-website {
	background-image: url(../images/website.png);
}

.portal-guestbook-edit {
	background-image: url(../images/edit.png);
}

.portal-guestbook-delete {
	background-image: url(../images/delete.png);
}

.sidelinje .antall_sider {
	color: black;
}

.sidelinje .aktiv_side {
	font-weight: bold;
}

.sidelinje a {
	font-weight: normal;
}

#verktoy{
	background-color: #FFFFCC;
}
#verktoy legend{
	font-weight: bold;
}
#verktoy ul{
	list-style: none;
	padding-left: 10px;
	background-color: #FFFFCC;
}
#gjestebok{}
#gjestebok .innlegg{
	margin-bottom: 40px;
}
#gjestebok .innlegg img{
	border: 0;
}
#gjestebok .innlegg .tittel{
	font-size: 110%;
	font-weight: bold;
	color: #234567;
	border-bottom: 1px solid #234567;
	padding-bottom: 5px;
}
#gjestebok .innlegg .tekst{
	margin-top: 15px;
	margin-left: 10px;
	padding: 5px;
	border-left: 1px dotted #666;
}
#gjestebok .innlegg .info{
	float: right;
	font-size: 80%;
}
#gjestebok .innlegg .dato{
	color: #234567;
	font-size: 80%;
}
#gjestebok .innlegg .moderator{
	float: right;
}
#gjestebok .innlegg .kommentar{
	padding: 10px;
	margin-left: 40px;
	margin-top: 10px;
	color: #666;
	border: 1px dashed #666;
	background-color: #FDFFDF;
}

#sider_topp{
	font-weight: bold;
	border-bottom: 2px solid #234567;
	padding-bottom: 3px;
	color: #234567;
}
#sider_topp a:link,
#sider_bunn a:link,
#sider_topp a:visited,
#sider_topp a:visited{
	color: #234567;
}
#sider_bunn{
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
	color: #234567;
}
/* Rediger innlegg */
#forehandsvising{
	padding-top: 15px;
	border: 1px solid #666;
}
#forehandsvising legend{
	font-weight: bold;
}